.poke-container {
  display: flex;
  flex-wrap: wrap;

  .card-container {
    padding: 20px;
    margin: 1rem;
    border-radius: 10px;

    &:hover {
      -webkit-box-shadow: 0 0 10px inherit;
      -moz-box-shadow: 0 0 10px inherit;
      box-shadow: 0 0 10px inherit;
    }


    .pokemon-name {
      position: absolute;
      z-index: 5;
      text-transform: capitalize;

      .pokemon-type {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 4px;
      }
    }

    .pokemon-img {
      position: relative;
      border-radius: 10px;
    }
  }

}



.type-normal {
  background-color: #C2C2A1;
}

.type-flying {
  background-color: #BAB0D5;
}

.type-ghost {
  background-color: #735797;
}

.type-dark {
  background-color: #333;
}

.type-steel {
  background-color: #CCCCDE;
}

.type-ground {
  background-color: #B1736C;
}

.type-poison {
  background-color: #7C538C;
}

.type-grass {
  background-color: #48D0B0;
  
}

.type-fire {
  background-color: #FB6C6C;
}

.type-electric {
  background-color: #FFD86F;
}

.type-fairy {
  background-color: #f469a9;
}

.type-bug {
  background-color: #C3CE75;
}

.type-fighting {
  background-color: #d6b591;
}

.type-water {
  background-color: #609FB5;
}

.type-psychic {
  background-color: #9B7FA6;
}

.type-ice {
  background-color: #7FCCEC;
}

.type-rock {
  background-color: #a6aab6;
}

.type-dragon {
  background-color: #F9BE00;
}