$font-color-1: rgb(255, 255, 255);

.poke-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card-container {
    position: relative;
    padding: 40px;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--color);
    // height: 180px;
    // width: auto;

    &:hover {
      box-shadow: 0 0 10px var(--color);
    }

    .pokemon-img {
      // position: absolute;
      // top:30px;
      // left:20px;
      width: 150px;
      height: 100px;
      margin: 20px 10px;
    }

    .pokemon-id {
      position: absolute;
      top: 10px;
      left: 20px;
      color: $font-color-1;
      font-weight: 700;
      text-shadow: 1px 1px 2px #000000;
    }

    .pokemon-name {
      position: absolute;
      top: 30px;
      left: 20px;
      z-index: 5;
      text-transform: capitalize;
      color: black;
      font-size: 20px;
      font-weight: 700;
    }

    .pokemon-type {
      text-transform: capitalize;
      background-color: rgb(255, 255, 255, 0.5);
      border-radius: 5px;
      padding: 4px;
      width: 50%;
      text-align: center;
      margin-bottom: 7px;
      font-weight: 500;
     
    }
  }

}



.type-normal {
  --color: #C2C2A1;
}

.type-flying {
  --color: #BAB0D5;
}

.type-ghost {
  --color: #735797;
}

.type-dark {
  --color: #333;
}

.type-steel {
  --color: #CCCCDE;
}

.type-ground {
  --color: #B1736C;
}

.type-poison {
  --color: #7C538C;
}

.type-grass {
  --color: #48D0B0;

}

.type-fire {
  --color: #FB6C6C;
}

.type-electric {
  --color: #FFD86F;
}

.type-fairy {
  --color: #f469a9;
}

.type-bug {
  --color: #C3CE75;
}

.type-fighting {
  --color: #d6b591;
}

.type-water {
  --color: #609FB5;
}

.type-psychic {
  --color: #9B7FA6;
}

.type-ice {
  --color: #7FCCEC;
}

.type-rock {
  --color: #a6aab6;
}

.type-dragon {
  --color: #F9BE00;
}